.img{
    width: 100px;
    height: 100px;
    border: solid green 10px;
    border-radius: 50%;
}
h1{
    color: red;
    font-family: fantasy;
}

.red{
    color: red;
}

.hero{
    background-color: grey;
  
  
}

.foot{
    background-color: green;
}